$background-header: #27272a;
$background-nav: #27272a;
$background-main: #202124;

$border-color: #414144;
$background-buttons-table-hover: #414144;
$background-table-line: #c6c6c6;

$main-text-color: #A1A1AA;
$secondary-text-color: #FFFFFF;
$text-input-active: #71717A;


$roboto: 'Roboto', sans-serif;